<!DOCTYPE html>
<html>
<head>
  <title>Project 1</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <script src="/js/app.js"></script>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          C2C
        </a>
      </div>
    </div>
  </nav>

  <div class='row trip'>
	  <div class='col-sm-4 col-sm-offset-4'>
	  	<h2><%= trip.title %></h2>
	  	<div class="text-muted"><h3><%= trip.city  %></h3></div>
	  	<div><h4><%= trip.details %></h4></div>
	  	<form id="new-activity" data-id='<%=trip._id %>'>
	  		<input name='title' class='form-control' type="text" placeholder='Restaurant, Location, Activity...'>
	  		<br>
	  		<textarea name="details" class='form-control' rows="2" placeholder='Details...'></textarea>
	  		<br>
	  		<button class='form-control' type='submit'>Save</button>
	  	</form>
	  	<br>
	  	<div class="text-right">
	  		<button type="button" class="btn btn-xs btn-danger" id='remove-trip' data-id='<%=trip._id %>'>Remove</button>
	  	</div>
	  	<% for (i = 0; i < trip.activities.length; i++) { %>
	  		<li><%= trip.activities[i].title %><br>
	  		<%= trip.activities[i].details %></li><br>
	  	<% } %>
		  	<ul class="list-group" id='activity'>
		  		
		  	</ul>
	  </div>
	</div>

</body>
</html>